In [ ]:
import pandas as pd

#### Series

* Similar to array but have index attached to it (Sequence)
* (array,list,tuple,dictionary)

In [7]:
list = ["Umang","machine","learning","python","AI"]
pd.Series(list)

0       Umang
1     machine
2    learning
3      python
4          AI
dtype: object

In [8]:
tuple = ("Umang","machine","learning","python","AI")
pd.Series(tuple)

0       Umang
1     machine
2    learning
3      python
4          AI
dtype: object

In [9]:
tuple = ("Umang","machine","learning","python","AI")
ind = ("A","B","C","D","E")
pd.Series(tuple,index=ind)

A       Umang
B     machine
C    learning
D      python
E          AI
dtype: object

In [11]:
dict = {"A":"Umang","B":"Machine","C":"Learning","D":"Python"}
pd.Series(dict)

A       Umang
B     Machine
C    Learning
D      Python
dtype: object

In [12]:
dict = {"A":"Umang","B":"Machine","C":"Learning","D":"Python"}
s = pd.Series(dict)

In [13]:
s.index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [14]:
s.values

array(['Umang', 'Machine', 'Learning', 'Python'], dtype=object)

In [15]:
s.dtype

dtype('O')

In [17]:
s.head(2)

A      Umang
B    Machine
dtype: object

In [18]:
s.tail(2)

C    Learning
D      Python
dtype: object

In [19]:
s[:]

A       Umang
B     Machine
C    Learning
D      Python
dtype: object

In [20]:
s[1:2]

B    Machine
dtype: object

In [21]:
s[1:3]

B     Machine
C    Learning
dtype: object

In [22]:
s["B":"D"]

B     Machine
C    Learning
D      Python
dtype: object

In [27]:
marks = [90,70,50]
sub = ["Maths","Science","SST"]
s1 = pd.Series(marks,index=sub)
s1

Maths      90
Science    70
SST        50
dtype: int64

In [28]:
marks = [100,80,30]
sub = ["Maths","Science","SST"]
s2 = pd.Series(marks,index=sub)
s2

Maths      100
Science     80
SST         30
dtype: int64

In [29]:
s1+s2

Maths      190
Science    150
SST         80
dtype: int64

In [31]:
marks = [60,90,100]
sub = ["Science","SST","Maths"]
s3 = pd.Series(marks,index=sub)
s3

Science     60
SST         90
Maths      100
dtype: int64

In [32]:
s1

Maths      90
Science    70
SST        50
dtype: int64

In [33]:
s1+s3

Maths      190
SST        140
Science    130
dtype: int64

In [38]:
data = pd.read_csv(r'C:\Users\umang\Desktop\abc.csv',
                   usecols=["Names"],squeeze=True)

In [41]:
type(data)

pandas.core.series.Series

In [42]:
data.head(2)

0    Umang
1    Rohan
Name: Names, dtype: object

In [43]:
data.sort_values()

3    Aakash
2       Raj
4      Ravi
1     Rohan
0     Umang
Name: Names, dtype: object

In [44]:
data.sort_values(ascending=False)

0     Umang
1     Rohan
4      Ravi
2       Raj
3    Aakash
Name: Names, dtype: object

In [46]:
data = data.sort_values(ascending=False)

In [47]:
data

0     Umang
1     Rohan
4      Ravi
2       Raj
3    Aakash
Name: Names, dtype: object

### Data Frames

In [2]:
import pandas as pd
import numpy as np
from numpy.random import randn
np.random.seed(100)
df = pd.DataFrame(randn(5,5),["A","B","C","D","E"],
                  ["Col 1","Col 2","Col 3","Col 4","Col 5"])
df

      Col 1     Col 2     Col 3     Col 4     Col 5
A -1.749765  0.342680  1.153036 -0.252436  0.981321
B  0.514219  0.221180 -1.070043 -0.189496  0.255001
C -0.458027  0.435163 -0.583595  0.816847  0.672721
D -0.104411 -0.531280  1.029733 -0.438136 -1.118318
E  1.618982  1.541605 -0.251879 -0.842436  0.184519

In [3]:
df["Col 1"]

A   -1.749765
B    0.514219
C   -0.458027
D   -0.104411
E    1.618982
Name: Col 1, dtype: float64

In [4]:
type(df["Col 1"])

pandas.core.series.Series

In [5]:
df[["Col 1"]]

      Col 1
A -1.749765
B  0.514219
C -0.458027
D -0.104411
E  1.618982

In [6]:
type(df[["Col 1"]])

pandas.core.frame.DataFrame

In [7]:
df[["Col 1","Col 2","Col 5"]]

      Col 1     Col 2     Col 5
A -1.749765  0.342680  0.981321
B  0.514219  0.221180  0.255001
C -0.458027  0.435163  0.672721
D -0.104411 -0.531280 -1.118318
E  1.618982  1.541605  0.184519

In [8]:
df.head(2)

      Col 1    Col 2     Col 3     Col 4     Col 5
A -1.749765  0.34268  1.153036 -0.252436  0.981321
B  0.514219  0.22118 -1.070043 -0.189496  0.255001

In [9]:
df.tail(2)

      Col 1     Col 2     Col 3     Col 4     Col 5
D -0.104411 -0.531280  1.029733 -0.438136 -1.118318
E  1.618982  1.541605 -0.251879 -0.842436  0.184519

In [12]:
df.isnull().any()

Col 1    False
Col 2    False
Col 3    False
Col 4    False
Col 5    False
dtype: bool

In [13]:
df.isnull()

   Col 1  Col 2  Col 3  Col 4  Col 5
A  False  False  False  False  False
B  False  False  False  False  False
C  False  False  False  False  False
D  False  False  False  False  False
E  False  False  False  False  False

In [14]:
df.isnull().sum()

Col 1    0
Col 2    0
Col 3    0
Col 4    0
Col 5    0
dtype: int64

In [15]:
df.drop("Col 3",axis=1,inplace=True)

In [16]:
df

      Col 1     Col 2     Col 4     Col 5
A -1.749765  0.342680 -0.252436  0.981321
B  0.514219  0.221180 -0.189496  0.255001
C -0.458027  0.435163  0.816847  0.672721
D -0.104411 -0.531280 -0.438136 -1.118318
E  1.618982  1.541605 -0.842436  0.184519

In [17]:
df.drop("C",axis=0,inplace=True)

In [18]:
df

      Col 1     Col 2     Col 4     Col 5
A -1.749765  0.342680 -0.252436  0.981321
B  0.514219  0.221180 -0.189496  0.255001
D -0.104411 -0.531280 -0.438136 -1.118318
E  1.618982  1.541605 -0.842436  0.184519

In [19]:
df.dropna(inplace=True)

In [20]:
df.fillna(0)

      Col 1     Col 2     Col 4     Col 5
A -1.749765  0.342680 -0.252436  0.981321
B  0.514219  0.221180 -0.189496  0.255001
D -0.104411 -0.531280 -0.438136 -1.118318
E  1.618982  1.541605 -0.842436  0.184519

In [21]:
df['Col 2'].fillna(0)

A    0.342680
B    0.221180
D   -0.531280
E    1.541605
Name: Col 2, dtype: float64

In [22]:
df['Col 5'] = 20

In [23]:
df

      Col 1     Col 2     Col 4  Col 5
A -1.749765  0.342680 -0.252436     20
B  0.514219  0.221180 -0.189496     20
D -0.104411 -0.531280 -0.438136     20
E  1.618982  1.541605 -0.842436     20

In [24]:
df['Col 6'] = [20,10,30,56]

In [25]:
df

      Col 1     Col 2     Col 4  Col 5  Col 6
A -1.749765  0.342680 -0.252436     20     20
B  0.514219  0.221180 -0.189496     20     10
D -0.104411 -0.531280 -0.438136     20     30
E  1.618982  1.541605 -0.842436     20     56

In [26]:
df.rename(columns={"Col 1":"Column 1","Col 4":"Column 5"},inplace=True)

In [27]:
df

   Column 1     Col 2  Column 5  Col 5  Col 6
A -1.749765  0.342680 -0.252436     20     20
B  0.514219  0.221180 -0.189496     20     10
D -0.104411 -0.531280 -0.438136     20     30
E  1.618982  1.541605 -0.842436     20     56

#### import from csv

In [28]:
df = pd.read_csv(r'C:\Users\umang\Data Science\Data Sets\nba.csv')
df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [29]:
mean_sal = df['Salary'].mean()

In [31]:
mean_sal = np.round(mean_sal,2)
mean_sal

4842684.11

In [32]:
df['Salary'].fillna(mean_sal,inplace=True)

In [33]:
df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.00
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.00
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,4842684.11
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.00
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.00

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
Name        457 non-null object
Team        457 non-null object
Number      457 non-null float64
Position    457 non-null object
Age         457 non-null float64
Height      457 non-null object
Weight      457 non-null float64
College     373 non-null object
Salary      458 non-null float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB

In [35]:
df.dropna(inplace=True)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 373 entries, 0 to 456
Data columns (total 9 columns):
Name        373 non-null object
Team        373 non-null object
Number      373 non-null float64
Position    373 non-null object
Age         373 non-null float64
Height      373 non-null object
Weight      373 non-null float64
College     373 non-null object
Salary      373 non-null float64
dtypes: float64(4), object(5)
memory usage: 29.1+ KB

In [37]:
df.columns

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [38]:
df.index

Int64Index([  0,   1,   2,   3,   6,   7,   8,   9,  10,  11,
            ...
            442, 443, 444, 446, 448, 449, 451, 452, 453, 456],
           dtype='int64', length=373)

In [42]:
df[["Name","Number","Age"]]

                        Name  Number   Age
0              Avery Bradley     0.0  25.0
1                Jae Crowder    99.0  25.0
2               John Holland    30.0  27.0
3                R.J. Hunter    28.0  22.0
6              Jordan Mickey    55.0  21.0
7               Kelly Olynyk    41.0  25.0
8               Terry Rozier    12.0  22.0
9               Marcus Smart    36.0  22.0
10           Jared Sullinger     7.0  24.0
11             Isaiah Thomas     4.0  27.0
12               Evan Turner    11.0  27.0
13               James Young    13.0  20.0
14              Tyler Zeller    44.0  26.0
16              Markel Brown    22.0  24.0
17           Wayne Ellington    21.0  28.0
18   Rondae Hollis-Jefferson    24.0  21.0
19              Jarrett Jack     2.0  32.0
21           Sean Kilpatrick     6.0  26.0
22              Shane Larkin     0.0  23.0
23               Brook Lopez    11.0  28.0
24          Chris McCullough     1.0  21.0
25               Willie Reed    33.0  26.0
26           Thomas Robinson    41.0  25.0
27                Henry Sims    14.0  26.0
28              Donald Sloan    15.0  28.0
29            Thaddeus Young    30.0  27.0
30             Arron Afflalo     4.0  30.0
31              Lou Amundson    17.0  33.0
33           Carmelo Anthony     7.0  32.0
35          Cleanthony Early    11.0  25.0
..                       ...     ...   ...
422            Cameron Payne    22.0  21.0
423           Andre Roberson    21.0  24.0
424             Kyle Singler     5.0  28.0
425             Dion Waiters     3.0  24.0
426        Russell Westbrook     0.0  27.0
427          Cliff Alexander    34.0  20.0
428          Al-Farouq Aminu     8.0  25.0
429          Pat Connaughton     5.0  23.0
430             Allen Crabbe    23.0  24.0
431                 Ed Davis    17.0  27.0
432         Maurice Harkless     4.0  23.0
433         Gerald Henderson     9.0  28.0
434              Chris Kaman    35.0  34.0
435           Meyers Leonard    11.0  24.0
436           Damian Lillard     0.0  25.0
437            C.J. McCollum     3.0  24.0
438             Luis Montero    44.0  23.0
439            Mason Plumlee    24.0  26.0
440            Brian Roberts     2.0  30.0
441              Noah Vonleh    21.0  20.0
442            Trevor Booker    33.0  28.0
443               Trey Burke     3.0  23.0
444               Alec Burks    10.0  24.0
446           Derrick Favors    15.0  24.0
448           Gordon Hayward    20.0  26.0
449              Rodney Hood     5.0  23.0
451            Chris Johnson    23.0  26.0
452               Trey Lyles    41.0  20.0
453             Shelvin Mack     8.0  26.0
456              Jeff Withey    24.0  26.0

[373 rows x 3 columns]

In [43]:
df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.00
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.00
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,4842684.11
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.00
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.00

In [46]:
df.sort_values("Salary",ascending=False)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
33,Carmelo Anthony,New York Knicks,7.0,SF,32.0,6-8,240.0,Syracuse,22875000.0
339,Chris Bosh,Miami Heat,1.0,PF,32.0,6-11,235.0,Georgia Tech,22192730.0
100,Chris Paul,Los Angeles Clippers,3.0,PG,31.0,6-0,175.0,Wake Forest,21468695.0
414,Kevin Durant,Oklahoma City Thunder,35.0,SF,27.0,6-9,240.0,Texas,20158622.0
164,Derrick Rose,Chicago Bulls,1.0,PG,27.0,6-3,190.0,Memphis,20093064.0
349,Dwyane Wade,Miami Heat,3.0,SG,34.0,6-4,220.0,Marquette,20000000.0
98,DeAndre Jordan,Los Angeles Clippers,6.0,C,27.0,6-11,265.0,Texas A&M,19689000.0
294,LaMarcus Aldridge,San Antonio Spurs,12.0,PF,30.0,6-11,240.0,Texas,19689000.0
174,Kevin Love,Cleveland Cavaliers,0.0,PF,27.0,6-10,251.0,UCLA,19689000.0
23,Brook Lopez,Brooklyn Nets,11.0,C,28.0,7-0,275.0,Stanford,19689000.0
96,Blake Griffin,Los Angeles Clippers,32.0,PF,27.0,6-10,251.0,Oklahoma,18907726.0
315,Paul Millsap,Atlanta Hawks,4.0,PF,31.0,6-8,246.0,Louisiana Tech,18671659.0
199,Paul George,Indiana Pacers,13.0,SF,26.0,6-9,220.0,Fresno State,17120106.0
426,Russell Westbrook,Oklahoma City Thunder,0.0,PG,27.0,6-3,200.0,UCLA,16744218.0
168,Kyrie Irving,Cleveland Cavaliers,2.0,PG,24.0,6-3,193.0,Duke,16407501.0
233,Wesley Matthews,Dallas Mavericks,23.0,SG,29.0,6-5,220.0,Marquette,16407500.0
301,Kawhi Leonard,San Antonio Spurs,2.0,SF,24.0,6-7,230.0,San Diego State,16407500.0
418,Enes Kanter,Oklahoma City Thunder,11.0,C,24.0,6-11,245.0,Kentucky,16407500.0
153,Jimmy Butler,Chicago Bulls,21.0,SG,26.0,6-7,220.0,Marquette,16407500.0
220,Greg Monroe,Milwaukee Bucks,15.0,C,26.0,6-11,265.0,Georgetown,16407500.0
189,Tobias Harris,Detroit Pistons,34.0,SF,23.0,6-9,235.0,Tennessee,16000000.0
382,John Wall,Washington Wizards,2.0,PG,25.0,6-4,195.0,Kentucky,15851950.0
143,DeMarcus Cousins,Sacramento Kings,15.0,C,25.0,6-11,270.0,Kentucky,15851950.0
249,James Harden,Houston Rockets,13.0,SG,26.0,6-5,220.0,Arizona State,15756438.0
111,Roy Hibbert,Los Angeles Lakers,17.0,C,29.0,7-2,270.0,Georgetown,15592217.0
288,Eric Gordon,New Orleans Pelicans,10.0,SG,27.0,6-4,215.0,Indiana,15514031.0
89,Klay Thompson,Golden State Warriors,11.0,SG,26.0,6-7,215.0,Washington State,15501000.0
448,Gordon Hayward,Utah Jazz,20.0,SF,26.0,6-8,226.0,Butler,15409570.0
238,Chandler Parsons,Dallas Mavericks,25.0,SF,27.0,6-10,230.0,Florida,15361500.0
219,Khris Middleton,Milwaukee Bucks,22.0,SG,24.0,6-8,234.0,Texas A&M,14700000.0
...,...,...,...,...,...,...,...,...,...
60,Christian Wood,Philadelphia 76ers,35.0,PF,20.0,6-11,220.0,UNLV,525093.0
347,Josh Richardson,Miami Heat,0.0,SG,22.0,6-6,200.0,Tennessee,525093.0
317,Lamar Patterson,Atlanta Hawks,13.0,SG,24.0,6-5,225.0,Pittsburgh,525093.0
94,Branden Dawson,Los Angeles Clippers,22.0,SF,23.0,6-6,225.0,Michigan State,525093.0
427,Cliff Alexander,Portland Trail Blazers,34.0,PF,20.0,6-8,240.0,Kansas,525093.0
145,Duje Dukan,Sacramento Kings,26.0,PF,24.0,6-9,220.0,Wisconsin,525093.0
307,Jonathon Simmons,San Antonio Spurs,17.0,SG,26.0,6-6,195.0,Houston,525093.0
243,Michael Beasley,Houston Rockets,8.0,SF,27.0,6-10,235.0,Kansas State,306527.0
221,Steve Novak,Milwaukee Bucks,6.0,SF,32.0,6-10,225.0,Marquette,295327.0
374,JJ Hickson,Washington Wizards,21.0,C,27.0,6-9,242.0,North Carolina State,273038.0
344,Joe Johnson,Miami Heat,2.0,SF,34.0,6-7,240.0,Arkansas,261894.0
396,JaKarr Sampson,Denver Nuggets,9.0,SG,23.0,6-9,214.0,St. John's,258489.0
304,Andre Miller,San Antonio Spurs,24.0,PG,40.0,6-3,200.0,Utah,250750.0
73,Jason Thompson,Toronto Raptors,1.0,PF,29.0,6-11,250.0,Rider,245177.0
420,Nazr Mohammed,Oklahoma City Thunder,13.0,C,38.0,6-10,250.0,Kentucky,222888.0
203,Ty Lawson,Indiana Pacers,10.0,PG,28.0,5-11,195.0,North Carolina,211744.0
123,Chase Budinger,Phoenix Suns,10.0,SF,28.0,6-7,209.0,Arizona,206192.0
303,Kevin Martin,San Antonio Spurs,23.0,SG,33.0,6-7,199.0,Western Carolina,200600.0
248,Andrew Goudelock,Houston Rockets,0.0,PG,27.0,6-3,200.0,Charleston,200600.0
381,Marcus Thornton,Washington Wizards,15.0,SF,29.0,6-4,205.0,LSU,200600.0
326,Jorge Gutierrez,Charlotte Hornets,12.0,PG,27.0,6-3,189.0,California,189455.0
282,Bryce Dejean-Jones,New Orleans Pelicans,31.0,SG,23.0,6-6,203.0,Iowa State,169883.0
45,Tony Wroten,New York Knicks,5.0,SG,23.0,6-6,205.0,Washington,167406.0
21,Sean Kilpatrick,Brooklyn Nets,6.0,SG,26.0,6-4,219.0,Cincinnati,134215.0
184,Lorenzo Brown,Detroit Pistons,17.0,PG,25.0,6-5,189.0,North Carolina State,111444.0
92,Jeff Ayres,Los Angeles Clippers,19.0,PF,29.0,6-9,250.0,Arizona State,111444.0
175,Jordan McRae,Cleveland Cavaliers,12.0,SG,25.0,6-5,179.0,Tennessee,111196.0
135,Alan Williams,Phoenix Suns,15.0,C,23.0,6-8,260.0,UC Santa Barbara,83397.0
291,Orlando Johnson,New Orleans Pelicans,0.0,SG,27.0,6-5,220.0,UC Santa Barbara,55722.0
130,Phil Pressey,Phoenix Suns,25.0,PG,25.0,5-11,175.0,Missouri,55722.0

In [49]:
df.sort_values("Name",ascending=True)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
152,Aaron Brooks,Chicago Bulls,0.0,PG,31.0,6-0,161.0,Oregon,2250000.00
356,Aaron Gordon,Orlando Magic,0.0,PF,20.0,6-9,220.0,Arizona,4171680.00
328,Aaron Harrison,Charlotte Hornets,9.0,SG,21.0,6-6,210.0,Kentucky,525093.00
404,Adreian Payne,Minnesota Timberwolves,33.0,PF,25.0,6-10,237.0,Michigan State,1938840.00
312,Al Horford,Atlanta Hawks,15.0,C,30.0,6-10,245.0,Florida,12000000.00
428,Al-Farouq Aminu,Portland Trail Blazers,8.0,SF,25.0,6-9,215.0,Wake Forest,8042895.00
368,Alan Anderson,Washington Wizards,6.0,SG,33.0,6-6,220.0,Michigan State,4000000.00
135,Alan Williams,Phoenix Suns,15.0,C,23.0,6-8,260.0,UC Santa Barbara,83397.00
444,Alec Burks,Utah Jazz,10.0,SG,24.0,6-6,214.0,Colorado,9463484.00
128,Alex Len,Phoenix Suns,21.0,C,22.0,7-1,260.0,Maryland,3807120.00
273,Alex Stepheson,Memphis Grizzlies,35.0,PF,28.0,6-10,270.0,USC,4842684.11
430,Allen Crabbe,Portland Trail Blazers,23.0,SG,24.0,6-6,210.0,California,947276.00
287,Alonzo Gee,New Orleans Pelicans,15.0,SF,29.0,6-6,225.0,Alabama,1320000.00
188,Andre Drummond,Detroit Pistons,0.0,C,22.0,6-11,279.0,Connecticut,3272091.00
83,Andre Iguodala,Golden State Warriors,9.0,SF,32.0,6-6,215.0,Arizona,11710456.00
304,Andre Miller,San Antonio Spurs,24.0,PG,40.0,6-3,200.0,Utah,250750.00
423,Andre Roberson,Oklahoma City Thunder,21.0,SG,24.0,6-7,210.0,Colorado,1210800.00
78,Andrew Bogut,Golden State Warriors,12.0,C,31.0,7-0,260.0,Utah,13800000.00
248,Andrew Goudelock,Houston Rockets,0.0,PG,27.0,6-3,200.0,Charleston,200600.00
362,Andrew Nicholson,Orlando Magic,44.0,PF,26.0,6-9,250.0,St. Bonaventure,2380593.00
411,Andrew Wiggins,Minnesota Timberwolves,22.0,SG,21.0,6-8,199.0,Kansas,5758680.00
108,Anthony Brown,Los Angeles Lakers,3.0,SF,23.0,6-7,210.0,Stanford,700000.00
281,Anthony Davis,New Orleans Pelicans,23.0,PF,23.0,6-10,253.0,Kentucky,7070730.00
421,Anthony Morrow,Oklahoma City Thunder,2.0,SG,30.0,6-5,210.0,Georgia Tech,3344000.00
195,Anthony Tolliver,Detroit Pistons,43.0,PF,31.0,6-8,240.0,Creighton,3000000.00
125,Archie Goodwin,Phoenix Suns,20.0,SG,21.0,6-5,200.0,Kentucky,1160160.00
182,Aron Baynes,Detroit Pistons,12.0,C,29.0,6-10,260.0,Washington State,6500000.00
30,Arron Afflalo,New York Knicks,4.0,SG,30.0,6-5,210.0,UCLA,8000000.00
104,Austin Rivers,Los Angeles Clippers,25.0,PG,23.0,6-4,200.0,Duke,3110796.00
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.00
...,...,...,...,...,...,...,...,...,...
283,Toney Douglas,New Orleans Pelicans,16.0,PG,30.0,6-2,195.0,Florida State,1164858.00
258,Tony Allen,Memphis Grizzlies,9.0,SG,34.0,6-4,213.0,Oklahoma State,5158539.00
165,Tony Snell,Chicago Bulls,20.0,SF,24.0,6-7,200.0,New Mexico,1535880.00
45,Tony Wroten,New York Knicks,5.0,SG,23.0,6-6,205.0,Washington,167406.00
242,Trevor Ariza,Houston Rockets,1.0,SF,30.0,6-8,215.0,UCLA,8193030.00
442,Trevor Booker,Utah Jazz,33.0,PF,28.0,6-8,228.0,Clemson,4775000.00
443,Trey Burke,Utah Jazz,3.0,PG,23.0,6-1,191.0,Michigan,2658240.00
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.00
179,Tristan Thompson,Cleveland Cavaliers,13.0,C,25.0,6-9,238.0,Texas,14260870.00
325,Troy Daniels,Charlotte Hornets,30.0,SG,24.0,6-4,205.0,Virginia Commonwealth,947276.00
203,Ty Lawson,Indiana Pacers,10.0,PG,28.0,5-11,195.0,North Carolina,211744.00
215,Tyler Ennis,Milwaukee Bucks,11.0,PG,21.0,6-3,194.0,Syracuse,1662360.00
327,Tyler Hansbrough,Charlotte Hornets,50.0,PF,30.0,6-9,250.0,North Carolina,947276.00
345,Tyler Johnson,Miami Heat,8.0,SG,24.0,6-4,186.0,Fresno State,845059.00
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2616975.00
285,Tyreke Evans,New Orleans Pelicans,1.0,SG,26.0,6-6,220.0,Memphis,10734586.00
401,Tyus Jones,Minnesota Timberwolves,1.0,PG,20.0,6-2,195.0,Duke,1282080.00
343,Udonis Haslem,Miami Heat,40.0,PF,36.0,6-8,235.0,Florida,2854940.00
363,Victor Oladipo,Orlando Magic,5.0,SG,24.0,6-4,210.0,Indiana,5192520.00
261,Vince Carter,Memphis Grizzlies,15.0,SG,39.0,6-6,220.0,North Carolina,4088019.00
17,Wayne Ellington,Brooklyn Nets,21.0,SG,28.0,6-4,200.0,North Carolina,1500000.00
97,Wesley Johnson,Los Angeles Clippers,33.0,SF,28.0,6-7,215.0,Syracuse,1100602.00
233,Wesley Matthews,Dallas Mavericks,23.0,SG,29.0,6-5,220.0,Marquette,16407500.00
385,Will Barton,Denver Nuggets,5.0,SF,25.0,6-6,175.0,Memphis,3533333.00
141,Willie Cauley-Stein,Sacramento Kings,0.0,C,22.0,7-0,240.0,Kentucky,3398280.00
25,Willie Reed,Brooklyn Nets,33.0,PF,26.0,6-10,220.0,Saint Louis,947276.00
386,Wilson Chandler,Denver Nuggets,21.0,SF,29.0,6-8,225.0,DePaul,10449438.00
270,Xavier Munford,Memphis Grizzlies,14.0,PG,24.0,6-3,180.0,Rhode Island,4842684.11
402,Zach LaVine,Minnesota Timberwolves,8.0,PG,21.0,6-5,189.0,UCLA,2148360.00
271,Zach Randolph,Memphis Grizzlies,50.0,PF,34.0,6-9,260.0,Michigan State,9638555.00

In [52]:
df = df.sort_values("Name",ascending=True).reset_index()

In [53]:
df.head()

,index,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,152,Aaron Brooks,Chicago Bulls,0.0,PG,31.0,6-0,161.0,Oregon,2250000.0
1,356,Aaron Gordon,Orlando Magic,0.0,PF,20.0,6-9,220.0,Arizona,4171680.0
2,328,Aaron Harrison,Charlotte Hornets,9.0,SG,21.0,6-6,210.0,Kentucky,525093.0
3,404,Adreian Payne,Minnesota Timberwolves,33.0,PF,25.0,6-10,237.0,Michigan State,1938840.0
4,312,Al Horford,Atlanta Hawks,15.0,C,30.0,6-10,245.0,Florida,12000000.0

In [54]:
df.drop("index",axis=1,inplace=True)

In [55]:
df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Aaron Brooks,Chicago Bulls,0.0,PG,31.0,6-0,161.0,Oregon,2250000.0
1,Aaron Gordon,Orlando Magic,0.0,PF,20.0,6-9,220.0,Arizona,4171680.0
2,Aaron Harrison,Charlotte Hornets,9.0,SG,21.0,6-6,210.0,Kentucky,525093.0
3,Adreian Payne,Minnesota Timberwolves,33.0,PF,25.0,6-10,237.0,Michigan State,1938840.0
4,Al Horford,Atlanta Hawks,15.0,C,30.0,6-10,245.0,Florida,12000000.0