In [4]:
import pandas as pd

#### Series

* Similar to array but have index attached to it (Sequence)
* (array,list,tuple,dictionary)

In [7]:
list = ["Umang","machine","learning","python","AI"]
pd.Series(list)

0       Umang
1     machine
2    learning
3      python
4          AI
dtype: object

In [8]:
tuple = ("Umang","machine","learning","python","AI")
pd.Series(tuple)

0       Umang
1     machine
2    learning
3      python
4          AI
dtype: object

In [9]:
tuple = ("Umang","machine","learning","python","AI")
ind = ("A","B","C","D","E")
pd.Series(tuple,index=ind)

A       Umang
B     machine
C    learning
D      python
E          AI
dtype: object

In [11]:
dict = {"A":"Umang","B":"Machine","C":"Learning","D":"Python"}
pd.Series(dict)

A       Umang
B     Machine
C    Learning
D      Python
dtype: object

In [12]:
dict = {"A":"Umang","B":"Machine","C":"Learning","D":"Python"}
s = pd.Series(dict)

In [13]:
s.index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [14]:
s.values

array(['Umang', 'Machine', 'Learning', 'Python'], dtype=object)

In [15]:
s.dtype

dtype('O')

In [17]:
s.head(2)

A      Umang
B    Machine
dtype: object

In [18]:
s.tail(2)

C    Learning
D      Python
dtype: object

In [19]:
s[:]

A       Umang
B     Machine
C    Learning
D      Python
dtype: object

In [20]:
s[1:2]

B    Machine
dtype: object

In [21]:
s[1:3]

B     Machine
C    Learning
dtype: object

In [22]:
s["B":"D"]

B     Machine
C    Learning
D      Python
dtype: object

In [27]:
marks = [90,70,50]
sub = ["Maths","Science","SST"]
s1 = pd.Series(marks,index=sub)
s1

Maths      90
Science    70
SST        50
dtype: int64

In [28]:
marks = [100,80,30]
sub = ["Maths","Science","SST"]
s2 = pd.Series(marks,index=sub)
s2

Maths      100
Science     80
SST         30
dtype: int64

In [29]:
s1+s2

Maths      190
Science    150
SST         80
dtype: int64

In [31]:
marks = [60,90,100]
sub = ["Science","SST","Maths"]
s3 = pd.Series(marks,index=sub)
s3

Science     60
SST         90
Maths      100
dtype: int64

In [32]:
s1

Maths      90
Science    70
SST        50
dtype: int64

In [33]:
s1+s3

Maths      190
SST        140
Science    130
dtype: int64

In [38]:
data = pd.read_csv(r'C:\Users\umang\Desktop\abc.csv',
                   usecols=["Names"],squeeze=True)

In [41]:
type(data)

pandas.core.series.Series

In [42]:
data.head(2)

0    Umang
1    Rohan
Name: Names, dtype: object

In [43]:
data.sort_values()

3    Aakash
2       Raj
4      Ravi
1     Rohan
0     Umang
Name: Names, dtype: object

In [44]:
data.sort_values(ascending=False)

0     Umang
1     Rohan
4      Ravi
2       Raj
3    Aakash
Name: Names, dtype: object

In [46]:
data = data.sort_values(ascending=False)

In [47]:
data

0     Umang
1     Rohan
4      Ravi
2       Raj
3    Aakash
Name: Names, dtype: object