In [6]:
23

23

In [7]:
23+5

28

In [8]:
4*2

8

In [9]:
4+9

13

In [10]:
4-2

2

In [12]:
4**3

64

In [13]:
(24/2)*(23+5)/(21+9)

11.2

In [14]:
a = 20

In [15]:
a

20

In [16]:
print(a)

20

In [17]:
type(a)

int

In [18]:
b = 20.5

In [20]:
type(b)

float

In [22]:
c = a+b

In [23]:
c

40.5

In [24]:
type(c)

float

In [25]:
d = 'Umang Kejriwal'

In [26]:
d

'Umang Kejriwal'

In [27]:
type(d)

str

In [28]:
e = 34 + 5j

In [29]:
type(e)

complex

In [32]:
a+e # adding complex number with real number

(54+5j)

In [31]:
type(a+e)

complex

## String Slicing

In [33]:
a = "I am teaching Basics Of Python Now"

In [34]:
a

'I am teaching Basics Of Python Now'

In [36]:
a[:]

'I am teaching Basics Of Python Now'

In [37]:
a[1:]

' am teaching Basics Of Python Now'

In [38]:
a[2:]

'am teaching Basics Of Python Now'

In [39]:
a[:4]

'I am'

In [40]:
a[4:8]

' tea'

In [41]:
a[:-4]

'I am teaching Basics Of Python'

In [42]:
a[4:-4]

' teaching Basics Of Python'

In [46]:
a[-4:]

' Now'

### String Functions

In [47]:
a

'I am teaching Basics Of Python Now'

In [50]:
b = a.capitalize()

In [51]:
b

'I am teaching basics of python now'

In [52]:
a.upper()

'I AM TEACHING BASICS OF PYTHON NOW'

In [53]:
a.lower()

'i am teaching basics of python now'

In [56]:
a.count('a')

3

In [57]:
a.count("Python")

1

In [58]:
a.find("Python")

24

In [59]:
a.find("a")

2

In [60]:
a

'I am teaching Basics Of Python Now'

In [61]:
a.replace("Python","Machine Learning")

'I am teaching Basics Of Machine Learning Now'

In [62]:
a.replace('a','w')

'I wm tewching Bwsics Of Python Now'

In [63]:
a.replace(" ",'_')

'I_am_teaching_Basics_Of_Python_Now'

## Primitive Data Type
* Integer
* FLoat
* String
* Complex Number
* Boolean

In [67]:
a = False

In [68]:
a

False

##  Core Data Type

* List
* Tuple
* Dictionary

#### List
* Stores the data(it can any datatype)
* It is mutable

In [1]:
a = []

In [2]:
a

[]

In [3]:
type(a)

list

In [4]:
a = [23,23.5,"Umang",True,45+2j]

In [5]:
a

[23, 23.5, 'Umang', True, (45+2j)]

In [6]:
b = [234,23.45,"Machine",False,35+2j]

In [7]:
b

[234, 23.45, 'Machine', False, (35+2j)]

In [8]:
c = a+b

In [9]:
c

[23, 23.5, 'Umang', True, (45+2j), 234, 23.45, 'Machine', False, (35+2j)]

In [10]:
len(c)

10

In [11]:
c[4]

(45+2j)

In [12]:
c[-2]

False

In [13]:
c[2:5]

['Umang', True, (45+2j)]

In [14]:
c[2:-2]

['Umang', True, (45+2j), 234, 23.45, 'Machine']

In [15]:
c.append("Dog")

In [16]:
c

[23,
 23.5,
 'Umang',
 True,
 (45+2j),
 234,
 23.45,
 'Machine',
 False,
 (35+2j),
 'Dog']

In [17]:
a

[23, 23.5, 'Umang', True, (45+2j)]

In [18]:
a.append(1)

In [19]:
a

[23, 23.5, 'Umang', True, (45+2j), 1]

In [20]:
a.insert(1,"Python")

In [21]:
a

[23, 'Python', 23.5, 'Umang', True, (45+2j), 1]

In [22]:
a.insert(3,"Anaconda")

In [23]:
a

[23, 'Python', 23.5, 'Anaconda', 'Umang', True, (45+2j), 1]

In [24]:
d = a.copy()

In [25]:
d

[23, 'Python', 23.5, 'Anaconda', 'Umang', True, (45+2j), 1]

In [26]:
b.clear()

In [27]:
b

[]

In [28]:
c

[23,
 23.5,
 'Umang',
 True,
 (45+2j),
 234,
 23.45,
 'Machine',
 False,
 (35+2j),
 'Dog']

In [30]:
c.count(0)

1

In [31]:
c.append(1)

In [32]:
c

[23,
 23.5,
 'Umang',
 True,
 (45+2j),
 234,
 23.45,
 'Machine',
 False,
 (35+2j),
 'Dog',
 1]

In [33]:
c.count(1)

2

In [34]:
c.index("Dog")

10

In [35]:
c

[23,
 23.5,
 'Umang',
 True,
 (45+2j),
 234,
 23.45,
 'Machine',
 False,
 (35+2j),
 'Dog',
 1]

In [36]:
c.remove(45+2j)

In [37]:
c

[23, 23.5, 'Umang', True, 234, 23.45, 'Machine', False, (35+2j), 'Dog', 1]

In [38]:
c.pop(2)

'Umang'

In [39]:
c

[23, 23.5, True, 234, 23.45, 'Machine', False, (35+2j), 'Dog', 1]

In [40]:
a = [23,1,2,45,100,20,34]

In [41]:
a.sort()

In [42]:
a

[1, 2, 20, 23, 34, 45, 100]

In [43]:
a.sort(reverse=True)

In [44]:
a

[100, 45, 34, 23, 20, 2, 1]

In [45]:
b = ["Umang","Python","A","Anaconda","India"]

In [46]:
b.sort()

In [47]:
b

['A', 'Anaconda', 'India', 'Python', 'Umang']

### Tuple
* stores data
* Immutable

In [48]:
a = ()

In [49]:
a

()

In [50]:
type(a)

tuple

In [51]:
a = ("umang",111,34.66,True,56+6j)

In [52]:
a

('umang', 111, 34.66, True, (56+6j))

In [53]:
a[2]

34.66

In [54]:
a[1:5]

(111, 34.66, True, (56+6j))

In [55]:
a.index("umang")

0

In [56]:
a.count("umang")

1

### Dictionary

* Stores the data in the form of key(name) value pairs

In [14]:
a = {}

In [15]:
type(a)

dict

In [16]:
a ={"Fruit":"Apple","Mobile":"Android","Snake":"Python"}

In [17]:
a

{'Fruit': 'Apple', 'Mobile': 'Android', 'Snake': 'Python'}

In [18]:
a.keys()

dict_keys(['Fruit', 'Mobile', 'Snake'])

In [19]:
a.values()

dict_values(['Apple', 'Android', 'Python'])

In [20]:
a.items()

dict_items([('Fruit', 'Apple'), ('Mobile', 'Android'), ('Snake', 'Python')])

In [21]:
a['Fruit']

'Apple'

In [22]:
a['Snake']

'Python'

In [23]:
a['Snake'] = "Anaconda"

In [24]:
a

{'Fruit': 'Apple', 'Mobile': 'Android', 'Snake': 'Anaconda'}

In [25]:
a["Vegetable"] = "Potato"

In [26]:
a

{'Fruit': 'Apple',
 'Mobile': 'Android',
 'Snake': 'Anaconda',
 'Vegetable': 'Potato'}

### Loops

### for loop

In [2]:
for i in range(20):
    print("Umang")

Umang
Umang
Umang
Umang
Umang
Umang
Umang
Umang
Umang
Umang
Umang
Umang
Umang
Umang
Umang
Umang
Umang
Umang
Umang
Umang

In [3]:
for i in range(2,10):
    print("Umang")

Umang
Umang
Umang
Umang
Umang
Umang
Umang
Umang

In [4]:
for i in range(0,10,3):
    print("Umang")

Umang
Umang
Umang
Umang

In [5]:
list = ["a",11,"b",23,"c",56,"d",67,"e",98]

In [6]:
print(list)

['a', 11, 'b', 23, 'c', 56, 'd', 67, 'e', 98]

In [7]:
for i in range(10):
    print(list[i])

a
11
b
23
c
56
d
67
e
98

In [8]:
for i in range(len(list)):
    print(list[i])

a
11
b
23
c
56
d
67
e
98

In [9]:
for i in range(1,10,2):
    print(list[i])

11
23
56
67
98

### While loop

In [10]:
i=0
while i<=19:
    print("Umang")
    i=i+1

Umang
Umang
Umang
Umang
Umang
Umang
Umang
Umang
Umang
Umang
Umang
Umang
Umang
Umang
Umang
Umang
Umang
Umang
Umang
Umang

In [ ]:
while True:
    print("Umang")

#### Print all even and odd numbers sepeartely b/w 1 to 100

In [13]:
even=[]
odd=[]
for i in range(1,101):
    if i%2 == 0:
        even.append(i)
    else:
        odd.append(i)

In [11]:
10%2

0

In [12]:
11%2

1

In [14]:
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [15]:
print(odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]